@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .transition-all {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .max-h-0 {
    max-height: 0;
    opacity: 0;
  }
  
  .max-h-60vh {
    max-height: 70vh;
    opacity: 1;
  }
}

body {
    font-family: "Roboto", sans-serif;
}
.navbar {
  transition: all 0.3s ease;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Make sure the navbar stays on top of other content */
}
/* styles.css or a similar file */
.transition-opacity {
  transition: opacity 1s ease;
}

/* Main.css */

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.text-container {
  animation: slideUp 1s ease-in-out;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}



