@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .transition-all {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .max-h-0 {
    max-height: 0;
    opacity: 0;
  }
  
  .max-h-60vh {
    max-height: 70vh;
    opacity: 1;
  }
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.navbar {
  transition: all 0.3s ease;
}


.sidebar-label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid gray;
}
.sidebar-label-container:hover input ~ .checkmark {
  background-color: red;
}



.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.sidebar-label-container input:checked ~ .checkmark:after {
  display: block;
}

.sidebar-label-container .checkmark:after {
  top: 6.4px;
  left: 6.4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}



.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Make sure the navbar stays on top of other content */
}
/* styles.css or a similar file */
.transition-opacity {
  transition: opacity 1s ease;
}

/* Main.css */

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.text-container {
  animation: slideUp 1s ease-in-out;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* BestSelling.css */

/* Style for the next button */
.swiper-button-next {
  color: red; /* Change arrow color */
  background-color: rgba(255, 255, 255, 0.8); /* Background color for the arrow */
  border-radius: 50%; /* Make the background circular */
  width: 40px; /* Set width */
  height: 40px; /* Set height */
  right: 20px; /* Adjust position */
}

/* Style for the prev button */
.swiper-button-prev {
  color: black; /* Change arrow color */
  background-color: rgba(255, 255, 255, 0.8); /* Background color for the arrow */
  border-radius: 50%; /* Make the background circular */
  width: 40px; /* Set width */
  height: 40px; /* Set height */
  left: 10px; /* Adjust position */
}

/* Additional styles to remove any unwanted line or border */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; /* Adjust the size of the arrow */
}




/* SwiperStyles.css */

/* Ensure the navigation buttons are visible */


/* Hide pagination bullets */
.swiper-pagination-bullets {
  display: none !important;
}


/* Hide navigation buttons on small screens if needed */
@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 30px; /* Smaller width for small screens */
    height: 30px; /* Smaller height for small screens */
    font-size: 18px; /* Smaller icon size for small screens */
  }
}



